.hourly {
	margin-bottom: 30px;
	&__title {
		font-size: 24px;
		text-align: center;
		font-weight: 500;
	}
	&__list {
		margin-top: 20px;

		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		gap: 10px;

		list-style-type: none;
	}
}