@import '../../style/variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20%;

	width: 80%;

	& > * {
		font-style: normal;
		font-size: 20px;
	}
	&__btn {
		position: relative;
		height: 26px;
		width: 52px;

		border-radius: 13px;
		background: var(--btn-bg);
		border: 1px solid var(--btn-bg);
		cursor: pointer;

		transition: .3s all;
		span {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%) translateX(0);

			height: 100%;
			width: 50%;
			border-radius: 13px;
			
			background: var(--btn-round);

			transition: .3s all;
			
			&.light {
				right: 100%;
				transform: translateY(-50%) translateX(100%);
			}
		}
	}
	&__location {
		position: relative;
		&-btn {
			font-size: 20px;
			color: var(--main-text);
		}
	}
	&__search {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(10px);
		opacity: 0;

		padding: 10px;

		border-radius: 15px;

		background: var(--secondary-bg);

		transition: .3s opacity;
		&.active {
			opacity: 1;
		}
	}
	&__input {
		padding: 8px;

		border-radius: 10px;
		background: var(--primary-bg);
		
		font-size: 20px;
		color: var(--main-text);
	}
	&__list {
		padding-top: 10px;
		list-style-type: none;
	}
	&__item {
		button {
			padding: 7px 0;
			color: var(--secondary-text);

			transition: .3s color;
			&:hover {
				color: var(--main-text);
			}
		}
	}
}