@import './variables';

:root {
	color-scheme: light dark;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 10%;
	background: var(--main-bg);
}

#root {
	background: var(--root-bg);
	border-radius: 50px;
}