@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');
@import './variables';

:root {
	color-scheme: light dark;
	font-family: 'Josefin Sans', sans-serif;
	color: var(--main-text);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--body-bg);
}

#root {
	width: 90%;
}